body {
  background-color: $light-pink;
}

.body {
  background-color: $light-pink;
  height: 100%;
  width: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.uppercase {
  text-transform: uppercase;
}

/*==============================
  ============================== Section 1
  ============================*/

#section-1 {
  height: 100%;
  padding-top: 1rem;
  background-color: $light-pink;
  background-image: url(../img/estuary-background-crab_cake-750px.jpg);
  background-position: bottom;
  background-size: cover;
  padding-bottom: 80%;
  @include breakpoint(medium) {
  background-image: url(../img/estuary-background-crab_cake-1920px.jpg);
    padding-bottom: 50%;
    padding-bottom: 70vh;
  }
}

/*==============================
  ============================== Logo
  ============================*/

.logo-container {
  height: 100%;
  position: absolute;
  padding-bottom: 2.5rem;
}

.logo-small {
  height: auto;
  width: 75%;
}

.logo-medium {
  height: 100%;
}

/*==============================
  ============================== Social Links
  ============================*/

.social-link {
  display: block;
  float: right;
  width: 100%;
  height: 2.25rem;
  margin: 0;
  line-height: 0;
  opacity: 1;
  transition: .3s;
  &:hover {
    opacity: .85;
  }
  img {
    float: right;
    width: 1.5rem;
  }
}

/*==============================
  ============================== Section 2
  ============================*/

#section-2 {
  background-color: $light-pink;
  background-image: url(../img/estuary-background-crab_cake-gradient-1920px.jpg);
  background-position: top;
  background-size: cover;
  padding-top: 2px;
  margin-top: -2px;
}

/*==============================
  ============================== Email Submit
  ============================*/

[contenteditable="true"]:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

.custom-form {
  border: 1px solid $black;
  margin-top: 2rem 0 0;
  max-width: 20rem;
  padding: 0;
  position: relative;
//  overflow: hidden;
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="search"],
  input[type="url"],
  input[type="tel"],
  input[type="month"],
  select {
    color: $black;
    font-family: $body-font-family;
    text-transform: none;
    outline: none;
    border: none;
    padding: .75rem .5rem .25rem;
    margin: 0;
    font-size: 1rem;
    z-index: 500;
    width: 88%;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  input[type="tel"]:focus,
  input[type="month"]:focus,
  select:focus,
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="date"]:hover,
  input[type="number"]:hover,
  input[type="search"]:hover,
  input[type="url"]:hover,
  input[type="tel"]:hover,
  input[type="month"]:hover,
  select:hover,
  input[type="text"]:active,
  input[type="email"]:active,
  input[type="password"]:active,
  input[type="date"]:active,
  input[type="number"]:active,
  input[type="search"]:active,
  input[type="url"]:active,
  input[type="tel"]:active,
  input[type="month"]:active,
  select:active
  {
    outline: none;
  }

  label {
    color: inherit;
    font-size: .7rem;
    font-weight: normal;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    top: 0;
    margin-left: 1rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .email {
    background-color: transparent;
  }

  input.input-full ~ label,
  select ~ label {
    margin-left: .5rem;
    opacity: 1;
  }

  /* focused state */
  input:focus ~ label,
  select:focus ~ label {
    margin-left: .5rem;
    opacity: 1;
  }
}

#reveal-button,
.form-thankyou {
  color: $black;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.form-thankyou {
  padding: .45rem .7rem;
}

#reveal-button {
  padding: .7rem;
  position: absolute;
}

#mc-embedded-subscribe {
  position: absolute;
  right: -1rem;
  top: 0;
  padding: .6rem;
  visibility: hidden;
  opacity: 0;
  transition: all .2s linear;
  
  &.show {
    visibility: visible;
    opacity: 1;
    right: 0rem;
  }
}

.form-error {
  font-weight: normal;
  position: absolute;
  bottom: -2.25rem;
  left: .5rem;
  text-transform: uppercase;
}

/*==============================
  ============================== Footer
  ============================*/

footer {
  padding-top: 5rem;
  p {
    color: $light-copper;
    font-size: 80%;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
}

.footer-info {
  @include breakpoint(large) {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.footer-logo {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 2rem;
  width: auto;
  @include breakpoint(large) {
    margin-top: 0;
    margin-bottom: 0;
    float: right;
  }
}

.footer-link,
.footer-copyright {
  font-size: 65%;
  line-height: 1.4;
  margin-bottom: .75rem;
  @include breakpoint(large) {
    display: inline-block;
  }
}

.footer-link {
  @include breakpoint(large) {
    &:after {
      content: " | ";
      margin: 0 .5rem;
    }
  }
  
}

.footer-copyright {
  margin-top: 6rem;
  @include breakpoint(large) {
    margin-top: 0;
  }
}
